{% extends "auth.html" %} {% block title %}login{% endblock %}
{% block content %}
<div class="sign-in">
  <h2>Sign In</h2>
  <form class="column" method="POST">
    <label class="signin-label" for="Username">Username:</label>
    <input 
      type="Username" 
      class="signin-form-control" 
      id="Username" 
      name="Username" 
      placeholder="Username"
    />
    <label class="signin-label" for="Password">Password:</label>
    <input 
      type="Password" 
      class="signin-form-control" 
      id="Password" 
      name="Password" 
      placeholder="Password"
    />
    <button type="submit" class="btn btn-primary signin-btn">Sign In</button>
  </form>
  <h4 style="margin:2vw 0;">or</h4>
  <h2 class="createUser"><a href="{{ url_for('auth.signup')}}">Create New User</a></h2>
</div>
{% endblock %}